/* GENERALI */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* .classediesempio {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
} */

h1 {
  font-size: 68px;
  color: white;
}

h2 {
  font-size: 35px;
}

p {
  font-size: 25px;
  font-weight: 350;
  color: grey;
}

li {
  list-style-type: none;
}

.column {
  width: 1500px;
  margin: auto;
}
/* fine generali */

/* HEADER */
/* header top */
header .header-top {
  background-color: #0c325a;
  background-image: url(../img/background-header.png);
  background-repeat: no-repeat;
  background-position: 115% 100%;
  background-size: 70%;
  position: relative;
  height: 730px;
  padding-top: 20px;
  font-size: 15px;
}

header .header-top .column img {
  float: left;
  width: 10%;
}

header .header-top .column nav {
  float: left;
  width: 45%;
  text-align: right;
  margin-top: 25px;
  text-transform: uppercase;
}

header .header-top .column nav li {
  display: inline-block;
  padding: 0 15px;
}

header .header-top .column a {
  text-decoration: none;
  color: white;
}

header .header-top .column nav #cornice {
  padding: 12px 40px;
  border: 1px solid white;
  border-radius: 6px;
}

header .header-top .column .cto {
  background-color: #7cbb02;
  padding: 10px 10px;
  border: 1px solid #7cbb02;
  border-radius: 6px;
}

header .header-top .column .title {
  position: absolute;
  top: 38%;
  width: 40%;
}

header .header-top .column .title h1 {
  margin-bottom: 70px;
}

header .header-top .column .title a {
  font-size: 20px;
  padding: 25px;
  text-transform: uppercase;
}

/* header bottom */
header .header-bottom {
  background-color: #d3d3d3;
}

header .header-bottom .column {
  padding: 50px 0;
  text-align: center;
}
header .header-bottom .column h2 {
  padding-bottom: 15px;
}

header .header-bottom .column p {
  color: #808080;
}
/* fine header */

/* MAIN */
main {
  padding: 40px 0;
}
/* main top */
main .main-top {
  text-align: center;
}

main .main-top img{
  height: 200px;
  margin-bottom: 30px;
}

main .main-top .column section {
  float: left;
  width: 32%;
  color: #7cbb02;
}

main .main-top .column section:nth-child(2) {
  margin: 0 2%;
}

main .main-top .column section hr {
  display: block;
  width: 20%;
  margin: 30px auto;
}

main hr {
  display: block;
  width: 98%;
  margin: 50px auto;
  border-top: 1px solid lightgrey;
}
/* main bottom */
main .main-bottom img {
  height: 530px;
}

main .main-bottom .column section {
  float: left;
  width: 50%;
}

main .main-bottom .column section h2 {
  font-size: 40px;
}

main .main-bottom .column section p {
  padding: 20px 0;
}

main .main-bottom .column #main-bottom-right {
  padding-right: 200px;
}

/* fine main */

/* FOOTER */
footer {
  background-color: #d3d3d3;
  height: 200px;
}
/* fine footer */
